<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<!-- increment Version for new builds -->
	<Package
		Id="Manufacturer.SliderLauncherINSTALLER"
		Name="SlidLauncherInstaller"
		Manufacturer="k-Space Associates, Inc."
		Version="1.0.2.0"
		UpgradeCode="AD528B81-C979-4151-BAAE-E2E1853E4524">

		<!-- hint - reference the "Id" field of the desired "File" "Component -->
		<SummaryInformation Description="Version: !(bind.fileVersion.SliderLauncher)"/>
		<MajorUpgrade
		AllowDowngrades="no"
		AllowSameVersionUpgrades="yes"
		DowngradeErrorMessage="!(loc.DowngradeError)"
		Schedule="afterInstallInitialize" />
		<MediaTemplate EmbedCab="yes" />

		<!-- the icon that will show up in Add/Remove Programs -->
		<!-- expected to be found in the root of the installer project folder-->
		<Icon Id="icon.ico" SourceFile="kSA.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<Feature Id="Main">
			<ComponentGroupRef Id="AppFiles" />
			<ComponentGroupRef Id="AppShortcuts" />
		</Feature>
	</Package>
</Wix>